/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}
/*----------- HEADER --------------*/
img {
    margin: 0 auto;
}


#banner {
    background-color: #c962e9;
    padding: .5rem 0;
    display: block;
}


.headContainer {
    letter-spacing: 1pt;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e4e6e7;

}


.titles {
    display: flex;
    flex-direction: column;
}

.titles h1 {
	font-size: 30px;
	margin-bottom: 2px;
    padding: 3px;
    color: black

    
}

.slogan {
	letter-spacing: 2pt;
    color: #facd34;
	font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;

}

.currentDayContainer, .visit-label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	background-color: #bcbebf;
    font-family: "Poppins", sans-serif;
}



/*----------- NAVIGATION --------------*/
nav {
    font-family: 'Roboto', sans-serif;
    background-color: #facd34;
    color: black;
    margin-bottom: 1rem;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(56, 55, 55);
    
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display:none;
    background-color: #facd34;

    
}

nav ul li a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: black;

}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul.open {
    display:block;
    
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
}

.hero-img img {width:100%; margin:auto;}


.pageGrid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1%;
	margin-bottom: 6rem;
}

.hero {
    grid-row: 1;
    height: 250px;
}
.event {
    grid-row: 2;
}
.weather {
    grid-row: 3;
}
.join {
    grid-row: 4;
}
.newsRelease {
    grid-row: 5;
}
.spotlight1 {
    grid-row: 6;
}
.spotlight2 {
    grid-row: 7;
}

.event, .weather, .join, .hero, .spotlight1, .spotlight2, .newsRelease {
	background-color: #E5E5E5;
    border: 1px solid #cfcfcf; 
    color: black;
    text-align: center;
    padding: 4%;
}

.event img, .weather img, .join img, .hero img, .spotlight1 img, .spotlight2 img, .newsRelease img {
    margin-bottom: 5px;
}

.hero{
    position: relative;
    background-image: url(../images/des.jpg);
    background-size: cover;
    background-position: center; 
}


.hero h2 {
    font-size: 1.5rem;
    /* position: absolute; */
    text-align: center;
    color: #facd34;
    background-color: #5a5a5a;

}

.hero button {
    font-family: "Roboto", "sans-serif";
    position: absolute;
    background-color: #facd34;
    color: black;
    bottom: 32px;
    right: 16px;
    font: 20px;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
}

.hero button:hover {
    background-color: #e0b110;
}

.join button {
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #facd34;
    margin-bottom: 3px;
    
}

.join button:hover {
    background-color: #e0b110;
}

#weather_icon {
    width: 70px;
    height: auto;
    margin: 0;
}

.weather h2{
    margin-bottom: 0px;
}
.statusContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #bbb;
}

.paragraph {
    background-color: #bbb;
    padding: 2px;

}
/*----------- FOOTER --------------*/
footer {
    background-color: #e4e6e7;
    padding: .5rem;
    text-align: center;
    display: grid;
    margin: auto;
}

footer h1, footer h2 {
    margin: 5px;
    font-size: 16px;
    color: black;

}

.copyright {
    background-color: #facd34;

}


/*---------DISCOVER PAGE -----------*/

.discover-item {
    margin: auto;
    color: black;
    border: 1px solid grey;
    margin-top: 2em;
    background-color: #E5E5E5;
    border: 1px solid #cfcfcf;
    color: black;
    padding: 2%;
    
}

.discover-item img {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px;
    

}

.discover-item h2 {
    text-align: center;
}

.discover-facts{
    background-color: #bcbebf;
    display: flex;
    padding: 1%;
    text-align: center;
    align-items: center;
    border: 2px solid grey;
}

.discover-facts p {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}

 .discover-facts p {
    margin-right: 25px;
    margin-left: 15px;
}

.discover-facts h1 {
    margin-right: 20px;
    margin-left: 10px;
    font-weight: 600;
}

.discover-item h2 {
    margin-bottom: 10px;
}

.discover-item p {
    margin-top: 5px;
}
.visit-label{
    margin-bottom: 0px;
    margin-top: 2rem;
}



  /*----------- FIELD --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #facd34;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #e4e6e7;
}

form legend {
    color: #facd34;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.2rem;

}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #c962e9;
    font-size: 1rem;
}

form label.top input, form label.top select{
    /* -webkit-appearance: none; */
    display: block;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: white;

}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn{
    border: 1px solid black;
    background-color: #facd34;
    color:white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: grey solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.join-app {
    text-align: center;
    background-color: #e4e6e7;
    padding: 1rem;
}


  /*----------- DIRECTORY --------------*/
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-bottom: 1rem;
  }
  
.grid section {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #e4e6e7;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px grey;
  }

  .grid img{
    margin-top: 5px;
    padding: .25rem;
    max-width: 220px;
	max-height: 65px;
    min-height: 48px;
    background-color: white;
  }

  .grid p {
    margin: 0 auto;
    padding: .3rem 0rem;
    font-size: 16px;
  }

  .grid h2 {
    margin: 0;
    padding: .75rem 0rem;
    font-size: 1rem;
  }


  .list {
	display: flex;
	flex-direction: column;
    margin-bottom: 1rem;


   
}
.list img {
    display: none;
}

.list section {
	align-items: center;
	justify-content: left;
    text-align: center;
    padding: 1rem;
    margin: 1rem 10px;
    background-color: #e4e6e7;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.list h2 {
    font-size: 18px;
}

.list p {
    margin-left: auto;
}

.display-options {
    text-align: center;
    justify-content: center;
}

.display-options button {
    padding: 10px 20px;
    margin: 15px;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 10px;
    
}