/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #EDDDCD;
    display: flex;
    text-align: center;
    padding: 2rem;
}

header div {margin: auto;}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #84BE38;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #000000;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #3E7C1C;
    color: #333;
}
nav ul li.active a {
    background-color: #3E7C1C;
    color: #000000;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 3rem;
}

header div {
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 5px;
}

.lightPink {
    background-color: #EDDDCD;
}

.darkPink {
    background-color: #EC6E55;
}

.yellowGreen{
    background-color: #84BE38;
}

.darkGreen {
    background-color: #3E7C1C;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #EDDDCD;
    padding: .5rem 2%;
    text-align: center;
}
